@charset "UTF-8";

body {
    font-family: 'Roboto', sans-serif;
    background-color: #87CEEB; 
    color: #FFF;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #005f73; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header { 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 15px 30px; 
    background-color: #007acc; 
    color: white; 
}
.logo img { 
    height: 70px; /* Altura ajustável da logo */
}

.main-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 900px;
    background-color: #4CA9FF; 
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.left-login {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.left-login img {
    width: 100%;
    max-width: 200px;
}

.right-login {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 100%;
    max-width: 500px; 
    text-align: center;
}

.textfield {
    margin-bottom: 20px;
}

.textfield label {
    display: block;
    text-align: left;
    margin-bottom: 10px; 
    color: #FFF;
    font-size: 16px; 
}

input[type="text"],
input[type="password"] {
    border-radius: 15px;
    border: none;
    width: 100%;
    height: 60px; 
    padding-left: 20px; 
    background-color: #FFF;
    color: #333;
    margin-bottom: 20px; 
    font-size: 18px; 
}

input::placeholder {
    color: #B6B6B6;
}

button.btn-login {
    cursor: pointer;
    width: 100%;
    height: 60px; 
    border-radius: 20px;
    border: none;
    background-color: #005f73; 
    color: #FFF;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.2s;
}

button.btn-login:hover {
    background-color: #003f51;
    transform: scale(1.05);
}

input:focus {
    outline: none;
    border: 2px solid #005f73; 
}

a {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px; 
    color: #005f73;
}

a:hover {
    text-decoration: underline;
}

footer { 
    background-color: #007acc; 
    text-align: center; 
    padding: 20px; 
    color: white; 
    font-size: 14px; 
    margin-top: 20px; 
    position: relative;
}
.footer-logo img {
    height: 70px; /* Altura ajustável da logo no footer */
    margin-bottom: 5px;
}
